/* Sections as used on the resume page */
@mixin mixin-resume-subsection {
  background-color: $dark-blue;
  border-style: solid;
  border-width: 1px;
  border-color: $dark-blue;
  border-radius: 6px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;

  padding: 1em;
}

/* Resume Sections */
.resume-section {
  background-color: $light-blue;
  border-style: solid;
  border-width: 1px;
  border-color: $light-blue;
  border-radius: 6px;
  margin-bottom: 1em;

  /* Resume - Generic */
  .resume-detail-full-width {
    @include mixin-resume-subsection;
  }

  .resume-detail-half-width {
    @include mixin-resume-subsection;
  }

  .resume-teaser {
    @include mixin-resume-subsection;
  }

  .resume-logo {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 0.75em;
    max-width: 80%;
  }

  .resume-job-link, .resume-education-link {
    font-size: 0.75em;
    margin-bottom: 20px;
  }

  .resume-detail-list {

    .resume-detail-list-subtitle {
      color: $light-orange
    }

    li {
      color: $light-black;
    }
  }



  /* Resume - Work */
  .resume-job-position-icon,
  .resume-job-date-period-icon {
    margin-left: 0.4em;
    margin-right: 0.8em
  }

  /* Resume - Education */
  h4 {
    color: $dark-orange;
  }

  h5 {
    color: $white;
  }

  h6, p {
    color: $white;
  }
}

.resume-tech-expertise-item {
  margin: 0 auto;

  .resume-logo {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    height: auto;
  }

  &:hover .resume-tech-expertise-label {
    color: $light-orange;
    font-weight: bold;
  }

  .resume-tech-expertise-label {
    height: 5em;
  }
}
