/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*****************************************************************************/
/* Orange ********************************************************************/
/*****************************************************************************/
/*****************************************************************************/
/* Yellow ********************************************************************/
/*****************************************************************************/
/* Blues */
/*****************************************************************************/
/* White, Grey, Black ********************************************************/
/*****************************************************************************/
/*****************************************************************************/
/* Font Sizes ****************************************************************/
/*****************************************************************************/
h1 {
  color: #6d8097;
  font-size: 3.0rem; }

h2 {
  color: #0c2c52;
  font-size: 4.0rem; }

h3 {
  color: #ff7b0d;
  font-size: 2.5rem; }

h4 {
  color: #ffa84c;
  font-size: 2.2rem; }

h5, p, li {
  color: #787878;
  font-size: 1.0rem; }

a {
  color: #6d8097;
  font-size: 1.0rem; }
  a:hover, a:active {
    color: #ffa84c; }
  a:focus {
    color: #6d8097; }

@media screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.5rem; }

  h2 {
    font-size: 2.0rem; }

  h3 {
    font-size: 1.25rem; }

  h4 {
    font-size: 1.1rem; }

  h5, p, li {
    font-size: 0.8rem; }

  a {
    font-size: 0.8rem; } }
div.sticky.row {
  z-index: 10;
  /* End nav */ }
  div.sticky.row nav {
    /* End nav ul */ }
    div.sticky.row nav ul {
      background-color: #0C2C52;
      opacity: 0.75;
      border-bottom: 0.2em;
      border-bottom-color: #ff7b0d;
      border-bottom-style: solid;
      /* End nav ul li */ }
      div.sticky.row nav ul li a {
        color: #ffa84c; }
      div.sticky.row nav ul li a:hover, div.sticky.row nav ul li a:active, div.sticky.row nav ul li a.active {
        color: #ff7b0d;
        font-weight: bolder; }

#footer-container {
  background-color: #0c2c52;
  padding-top: 3em;
  padding-bottom: 3em; }
  #footer-container #footer-header .footer-section-title {
    color: #6d8097; }
  #footer-container #footer-header p, #footer-container #footer-header * {
    color: #ffffff; }
  #footer-container #footer-featured-image-wrapper {
    margin: 2em auto;
    border: 3px solid #ffa84c;
    width: 13em;
    height: auto; }
  #footer-container #footer-featured-image {
    border: 2px solid #ff7b0d;
    width: 13em;
    margin: 0 auto; }
  #footer-container ul {
    margin-bottom: 1em; }
  #footer-container .email-contact, #footer-container .phone-contact {
    margin-left: 1em; }

/*****************************************************************************/
/* HERO **********************************************************************/
/*****************************************************************************/
.hero .hero-content {
  z-index: 1; }
  .hero .hero-content h1 {
    color: #000000;
    text-shadow: 0 0 6px #ffffff; }
  .hero .hero-content p {
    color: #000000;
    text-shadow: 0 0 3px #ffffff; }

/*****************************************************************************/
/* HRs ***********************************************************************/
/*****************************************************************************/
hr {
  width: 12%;
  border-color: #ffa84c; }

hr.hero-hr {
  width: 16%; }

hr.paragraph-sep-hr {
  width: 3%;
  border-color: #787878; }

/*****************************************************************************/
/* Buttons *******************************************************************/
/*****************************************************************************/
.parallelogram-button {
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  background: #ff7b0d;
  border-style: solid;
  border-width: 1px;
  border-color: #ff7b0d;
  border-radius: 6px;
  color: #ffffff;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em; }
  .parallelogram-button span {
    display: block;
    transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg); }
  .parallelogram-button :hover {
    color: #3c5674; }

.parallelogram-button-inverted {
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  background: #ff7b0d;
  border-style: solid;
  border-width: 1px;
  border-color: #ff7b0d;
  border-radius: 6px;
  color: #ffffff;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background: #ffffff;
  color: #ff7b0d;
  border-color: #ff7b0d; }
  .parallelogram-button-inverted span {
    display: block;
    transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg); }
  .parallelogram-button-inverted :hover {
    color: #3c5674; }

/*****************************************************************************/
/* Callout Sections **********************************************************/
/*****************************************************************************/
/*****************************************************************************/
/* Content Sections **********************************************************/
/*****************************************************************************/
/* Generic content section as used on the home page */
.content-section {
  padding-top: 3em;
  padding-bottom: 3em; }
  .content-section .content-section-header p {
    color: #282828; }
  .content-section button {
    margin-left: auto;
    margin-right: auto; }

/* Sections as used on the resume page */
/* Resume Sections */
.resume-section {
  background-color: #6d8097;
  border-style: solid;
  border-width: 1px;
  border-color: #6d8097;
  border-radius: 6px;
  margin-bottom: 1em;
  /* Resume - Generic */
  /* Resume - Work */
  /* Resume - Education */ }
  .resume-section .resume-detail-full-width {
    background-color: #0c2c52;
    border-style: solid;
    border-width: 1px;
    border-color: #0c2c52;
    border-radius: 6px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 1em; }
  .resume-section .resume-detail-half-width {
    background-color: #0c2c52;
    border-style: solid;
    border-width: 1px;
    border-color: #0c2c52;
    border-radius: 6px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 1em; }
  .resume-section .resume-teaser {
    background-color: #0c2c52;
    border-style: solid;
    border-width: 1px;
    border-color: #0c2c52;
    border-radius: 6px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 1em; }
  .resume-section .resume-logo {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 0.75em;
    max-width: 80%; }
  .resume-section .resume-job-link, .resume-section .resume-education-link {
    font-size: 0.75em;
    margin-bottom: 20px; }
  .resume-section .resume-detail-list .resume-detail-list-subtitle {
    color: #ffa84c; }
  .resume-section .resume-detail-list li {
    color: #c8c8c8; }
  .resume-section .resume-job-position-icon,
  .resume-section .resume-job-date-period-icon {
    margin-left: 0.4em;
    margin-right: 0.8em; }
  .resume-section h4 {
    color: #ff7b0d; }
  .resume-section h5 {
    color: #ffffff; }
  .resume-section h6, .resume-section p {
    color: #ffffff; }

.resume-tech-expertise-item {
  margin: 0 auto; }
  .resume-tech-expertise-item .resume-logo {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    height: auto; }
  .resume-tech-expertise-item:hover .resume-tech-expertise-label {
    color: #ffa84c;
    font-weight: bold; }
  .resume-tech-expertise-item .resume-tech-expertise-label {
    height: 5em; }

/*****************************************************************************/
/* About Me Sections *********************************************************/
/*****************************************************************************/
body {
  font-family: 'Work Sans', sans-serif;
  max-width: 100em; }

/*****************************************************************************/
/* Parallax ******************************************************************/
/*****************************************************************************/
.parallax-window {
  height: 20em; }

/*****************************************************************************/
/* Helper Classes ************************************************************/
/*****************************************************************************/
.image-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-position: center center; }

.full-width {
  max-width: 100em !important; }

.text-vertical-center {
  position: relative;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

.image-vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.no-margin-left {
  text-align: left;
  margin-left: 0; }

.no-margin-right {
  text-align: right;
  margin-right: 0; }

.transparent {
  background: transparent; }

.circle-border {
  border-radius: 50%; }

.align-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

/* Remove list styles */
ul, li {
  list-style: none;
  margin: 0; }

/* Images */
img.image-grayscale {
  filter: grayscale(95%);
  -webkit-filter: grayscale(95%); }
img.image-opacity-60 {
  filter: opacity(60%);
  -webkit-filter: opacity(60%); }

/*****************************************************************************/
/* Icons *********************************************************************/
/*****************************************************************************/

/*# sourceMappingURL=site.css.map */
