/*****************************************************************************/
/* Orange ********************************************************************/
/*****************************************************************************/
$dark-orange:   #ff7b0d;
$light-orange:  #ffa84c;

/*****************************************************************************/
/* Yellow ********************************************************************/
/*****************************************************************************/
$light-yellow:  #fff29e;

/* Blues */
$light-tiel:    #a6ffcc;
$light-blue:    #6d8097;
$medium-blue:   #3c5674;
$dark-blue:     #0c2c52;

/*****************************************************************************/
/* White, Grey, Black ********************************************************/
/*****************************************************************************/
$black:         #000000;
$dark-black:    #282828;
$medium-black:  #787878;
$light-black:   #c8c8c8;
$white:         #ffffff;
