/*****************************************************************************/
/* HERO **********************************************************************/
/*****************************************************************************/
.hero {
    .hero-content {
        z-index: 1;
        h1 {
            //font-size: 3.0em;
            color: $black;
            text-shadow: 0 0 6px $white;
        }
        p {
            color: $black;
            text-shadow: 0 0 3px $white;
        }
    }
}

/*****************************************************************************/
/* HRs ***********************************************************************/
/*****************************************************************************/
hr {
    width: 12%;
    border-color: $light-orange;
}

hr.hero-hr {
    width: 16%;
}

hr.paragraph-sep-hr {
    width: 3%;
    border-color: $medium-black;
}

/*****************************************************************************/
/* Buttons *******************************************************************/
/*****************************************************************************/
@mixin mixin-parallelogram-button {
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    background: $dark-orange;

    border-style: solid;
    border-width: 1px;
    border-color: $dark-orange;
    border-radius: 6px;

    color: $white;

    text-align: center;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    margin-top: 0.25em;
    margin-bottom: 0.25em;

    span {
        display: block;
        transform: skew(15deg);
        -webkit-transform: skew(15deg);
        -moz-transform: skew(15deg);
        -o-transform: skew(15deg);
    }

    :hover {
        color: $medium-blue;
    }
}
.parallelogram-button {
    @include mixin-parallelogram-button;
}

.parallelogram-button-inverted {
    @include mixin-parallelogram-button;

    background: $white;
    color: $dark-orange;
    border-color: $dark-orange;
}

/*****************************************************************************/
/* Callout Sections **********************************************************/
/*****************************************************************************/
.cta-section-left {

}

.cta-section-right {

}

/*****************************************************************************/
/* Content Sections **********************************************************/
/*****************************************************************************/
/* Generic content section as used on the home page */
.content-section {
    padding-top: 3em;
    padding-bottom: 3em;

    .content-section-header p {
      color: $dark-black;
    }

    button {
        margin-left: auto;
        margin-right: auto;
    }
}
