/*****************************************************************************/
/* Font Sizes ****************************************************************/
/*****************************************************************************/
h1 {
  color: $light-blue;
  font-size: 3.0rem;
}
h2 {
  color: $dark-blue;
  font-size: 4.0rem;
}
h3 {
  color: $dark-orange;
  font-size: 2.5rem;
}
h4 {
  color: $light-orange;
  font-size: 2.2rem;
}
h5,p,li{
  color: $medium-black;
  font-size: 1.0rem;
}

a {
  color: $light-blue;
  font-size: 1.0rem;

  &:hover, &:active {
    color: $light-orange;
  }

  &:focus {
    color: $light-blue
  }
}

@include breakpoint(small only) {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 2.0rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    h4 {
      font-size: 1.1rem;
    }
    h5,p,li {
      font-size: 0.8rem;
    }
    a {
      font-size: 0.8rem;
    }
}
