#footer-container {
    background-color: $dark-blue;
    padding-top: 3em;
    padding-bottom: 3em;

    #footer-header {
        .footer-section-title {
            color: $light-blue;
        }

        p, * {
            color: $white;
        }
    }

    #footer-featured-image-wrapper {
        margin: 2em auto;
        border: 3px solid $light-orange;
        width: 13em;
        height:auto;
    }
    #footer-featured-image {
        border: 2px solid $dark-orange;
        width: 13em;
        margin: 0 auto;
    }

    ul {
        margin-bottom: 1em;
    }

    .email-contact, .phone-contact {
      margin-left: 1em;
    }
}
