div.sticky.row {
    z-index: 10;

    nav {
        ul {
            background-color: #0C2C52;
            opacity: 0.75;
            border-bottom: 0.2em;
            border-bottom-color: #ff7b0d;
            border-bottom-style: solid;

            li {
                a {
                    color: #ffa84c;
                }

                a:hover, a:active, a.active{
                    color: #ff7b0d;
                    font-weight: bolder;
                }
            } /* End nav ul li */
        } /* End nav ul */
    } /* End nav */
}
