// Include Foundation 6 SCSS styles
@import "./../bower_components/foundation-sites/scss/foundation";

@import "colors";
@import "fonts";
@import "header";
@import "footer";
@import "components";
@import "./pages/index";
@import "./pages/resume";
@import "./pages/about";


body {
  font-family: 'Work Sans', sans-serif;
  max-width: 100em;
}

/*****************************************************************************/
/* Parallax ******************************************************************/
/*****************************************************************************/
.parallax-window {
    height: 20em;
}

/*****************************************************************************/
/* Helper Classes ************************************************************/
/*****************************************************************************/
.image-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;

  background-position: center center;
}

.full-width {
  max-width: 100em !important;
}

.text-vertical-center {
    position: relative;
  	-webkit-transform: translateY(50%);
  	-ms-transform: translateY(50%);
  	transform: translateY(50%);
}

.image-vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.no-margin-left {
  text-align: left;
  margin-left: 0;
}

.no-margin-right {
  text-align: right;
  margin-right: 0;
}

.transparent {
    background: transparent;
}

.circle-border {
    border-radius: 50%;
}

.align-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* Remove list styles */
ul, li {
    list-style: none;
    margin: 0;
}

/* Images */
img {
  &.image-grayscale {
    filter: grayscale(95%);
    -webkit-filter: grayscale(95%);
  }

  &.image-opacity-60 {
    filter: opacity(60%);
    -webkit-filter: opacity(60%);
  }
}

/*****************************************************************************/
/* Icons *********************************************************************/
/*****************************************************************************/
.icon {
}
